// This Config is required to run jobs in BI HPC or CloudOS ignite executor
env.http_proxy = 'http://appaccess-zscaler.boehringer.com:80'
env.https_proxy = 'http://appaccess-zscaler.boehringer.com:80'
env.ftp_proxy = 'http://appaccess-zscaler.boehringer.com:80'
env.HTTP_PROXY = 'http://appaccess-zscaler.boehringer.com:80'
env.HTTPS_PROXY = 'http://appaccess-zscaler.boehringer.com:80'
env.FTP_PROXY = 'http://appaccess-zscaler.boehringer.com:80'
env.no_proxy = 'localhost,.boehringer.com,*.boehringer.com,10.,10.*,172.20.,172.20.*,0,1,2,3,4,5,6,7,8,9'
env.NO_PROXY = 'localhost,.boehringer.com,*.boehringer.com,10.,10.*,172.20.,172.20.*,0,1,2,3,4,5,6,7,8,9'
