/*
 * ------------------------------------------------------------------
 *  bi-gwas_sumstats-harmonisation-nf test_gwas_vcf_basic config
 * ------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_gwas_vcf_list
 * ------------------------------------------------------------------
 */
params {
    input = "s3://lifebit-featured-datasets/pipelines/downstream-omics/sumstats-harmonisation/testdata/input_gwas_vcf.txt"
    gwas_source = "gwas_vcf"
    force_munge = false
    take_n_studies = 1
    standardise = true
    coef_conversion = true
    keep_intermediate_files = true
    dbsnp = 144
    convert_to_hail = true
    max_memory = 6.GB
}
