params {
    input = "s3://omics-example-datasets/pipelines/gwas-sumstats-harmonisation/input_ebi.txt"
    gwas_source = "ebi"
    take_n_studies = 1
    standardise = true
    coef_conversion = true
    keep_intermediate_files = true
    filter_beta_smaller_than = -0.3
    filter_beta_greater_than = 0.3
    filter_p_greater_than = 0.5
    filter_freq_smaller_than = 0.3
    filter_freq_greater_than = 0.8
    filter_missing_info = true
    filter_info = 0.8
    convert_to_hail = true
    dbsnp = 155
    max_memory = 28.GB
}
