/*
 * ------------------------------------------------------------------
 *  bi-gwas_sumstats-harmonisation-nf 
 * ------------------------------------------------------------------
 * Defines bundled input files and everything required to
 * run a test for each of all 10 gwas table types. Use as follows:
 * nextflow run main.nf -profile test_gwas_tables_all
 * ------------------------------------------------------------------
 */
params {
    input = "s3://lifebit-featured-datasets/pipelines/gwas-lb-connect-nf/output/results_tre1,s3://lifebit-featured-datasets/pipelines/gwas-lb-connect-nf/output/results_tre2"
    input_type = "regenie_folder_for_lb_connect"
    gwas_source = "gwas_table"
    standardise = true
    coef_conversion = true
    keep_intermediate_files = true
    filter_beta_smaller_than = -0.3
    filter_beta_greater_than = 0.3
    filter_p_greater_than = 0.5
    filter_freq_smaller_than = 0.3
    filter_freq_greater_than = 0.8
    dbsnp = 144
    max_memory = 6.GB
}
