params {
    input = "s3://omics-example-datasets/pipelines/gwas-sumstats-harmonisation/input_ebi.txt"
    gwas_source = "ebi"
    take_n_studies = 1
    standardise = true
    coef_conversion = true
    keep_intermediate_files = true
    filter_missing_info = true
    filter_info = 0.8
    convert_to_hail = true

    med_memory = 6.GB
}
